@model IEnumerable<GamingMVC.BoardGame>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.forAges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeOfGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noOfPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.gameType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.forAges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeOfGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noOfPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.gameType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.boardGameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.boardGameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.boardGameID })
        </td>
    </tr>
}

</table>
