
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ConsoleLayout.cshtml";
}

<h2>Index</h2>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Console Gaming</h2>
        <br />
        <p>
            Where did it start? Click below to find out.
        </p>
        <p>@Html.ActionLink("About", "About", "ConsoleGaming") </p>
    </div>
    <div class="col-md-4">
        <h2>Games</h2>
        <br />
        <p>Many, many, many, many, many, many Games</p>
        <p>@Html.ActionLink("Games", "Games", "ConsoleGaming")</p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <br />
        <p>Those responsible for your collective prorastination</p>
        <p>@Html.ActionLink("Developers", "Developers", "ConsoleGaming")</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Consoles</h2>
        <br />
        <p>The grand land upon which all games are played</p>
        <p>@Html.ActionLink("Consoles", "Consoles", "ConsoleGaming") </p>
    </div>
    <div class="col-md-4">
        <h2>Community</h2>
        <br />
        <p>The Gaming Community and it's mixed Toxicity</p>
        <p>@Html.ActionLink("Community", "Community", "ConsoleGaming")</p>
    </div>
    <div class="col-md-4">
        <h2>Stores</h2>
        <br />
        <p>Where to get your hands on the goods</p>
        <p>@Html.ActionLink("Stores", "Stores", "ConsoleGaming")</p>
    </div>
</div>
