@model GamingMVC.ConsoleGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsoleGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESRB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESRB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.playType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.releaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Console.consoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Console.consoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.gameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.gameType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.consoleGameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
